html *{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0%;
}

#header {
  margin: 2em;
  padding: 0.5em;
  margin: 0%;
  padding-bottom: 3em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0;
}

h4 {
  font-size: 2.25em;
  margin-bottom: 0;
}

h5 {
  font-size: 1em;
}

.description-div {
    padding-top: 0.25em;
    padding-bottom: 1em;
}

#work-examples {
  background: white
}

#links {
  background: white;
  padding-top: 0.15em;
}

.examples-div {
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

.name-div {
  padding-top: 2em;
}

#name {
  color: white;
  font-size: 3em;
  margin-bottom: 0
}

#deets {
  color: white
}

#description {
  display: inline-block;
  position: relative;
  text-align: inherit;
  width: 40em;
  word-wrap: normal;
  color: white;
  font-size: 1.2em;
}

#ryan-div {
  display: inline-block;
  width: 20em;
  height: 20em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 3em;
}

#ryan-img {
  display: inline;
  margin: 0 auto;
  height: 100%;
}

.blue {
  background: #7F3D87
}

#link-lists {
  padding: 0;
}

.list-link {
  list-style-type: none;
  padding: 1em;
  display: inline;
}

.link-div {
  padding-bottom: 1em;
}

#footer {
  padding-bottom: 3em;; 
}

.fake{
  margin: 2em;
}

.fake-design {
  margin: 1em;
  margin-left: 7em;
}

.fake-app {
  vertical-align: middle;
}

.fake-site {
  vertical-align: middle;
}

.email {
  height: 3em;
  box-shadow: 0px 0px 2px 2px #EFEFEF;
  display: inline-block;
  border:none;
  margin: 1em;
}

.button {
  text-align: center;
  width: 8em;
  height: 3em;
  margin: 1%;
  border: none;
  font-weight: bold;
  background-color: white;
}

input[type=button]:hover {
  background-color: black;
  color: white
}

input[type=button] {
  background-color: 	white;
  color: black
}

#contact-title {
  color: white;
}

#copyright {
  color: white;
}

#mailing-list {
  color: white;
}

.logo {
  max-width: 5em;
  max-height: 5em;
}
