@import url(global.css);

.about-me-container {
  margin: auto;
}

.umbrella-container {
  box-sizing: border-box;
  overflow: hidden;
  object-fit: contain;
  margin: auto;
}

.link-box {
  margin: auto;
}

.connect-container {
  margin-bottom: 5em;
}

.resume-container {
  margin-bottom: 5em;
}

@media only screen and (min-width: 1001px) {
  .pdf {
    height: 50em;
  }

  .resume-link {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .pdf {
    display: none;
  }

  .resume-link {
    display: inline !important;
  }

  .resume-header {
    display: none;
  }
}