@import url(flexbox.css);
@import url(colors.css);

html * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  text-align: center;
  margin: auto;
}

.footer {
  padding: 1em;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  color: white;
  float: right;
}

.background {
  background: black
}

a {
  text-decoration: none;
}

a.navbar-brand:hover {
  color:  rgba(255,255,255,.75) !important;
}

.navbar-brand {
  margin-left: 20em;
}

.link-list {
  margin-right: 20em;
}

