@import url(global.css);

body {
  text-align: center;
  margin: auto;
}


.name-div {
  padding-top: 2em;
}

.name {
  color: white;
  font-size: 3em;
  margin-bottom: 0
}

.description {
  font-size: 2em;
  color: white;
}

.image-div {
  display: inline-block;
  width: 20em;
  height: 20em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: 3em;
}

.image {
  display: inline;
  margin: 0 auto;
  height: 100%;
}

.link-grid {
    
}

.about {

}

.projects {

}

.contact {

}
