@import url(global.css);

.name {
  color: white;
  font-size: 3em;
  margin-bottom: 0
}

.description {
  font-size: 2em;
  color: white;
}

.image-div {
  display: inline-block;
  width: 20em;
  height: 20em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: 3em;
}

.image {
  display: inline;
  margin: 0 auto;
  height: 100%;
}

.link-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);  
  max-width: 50%;
  margin:auto;
  margin-top: 3em;
  margin-bottom: 5em;
}

.about {
  grid-column-start: 1;
  grid-column-end: 2;
}

.projects {
  grid-column-start: 2;
  grid-column-end: 3;
}

.contact {
  grid-column-start: 3;
  grid-column-end: 4;
}

.link-img {
  max-width: 50%;
}

.link-img:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
  background-color: black !important;
}
